
body {
  font-family: 'Georgia', serif;
  background-color: #f4f4f4;
  color: #4e3b31;
  margin: 0;
  padding: 0;
}


.page-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: #3c2f2f;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid #3c2f2f;
  padding-bottom: 5px;
}

.content-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.contact-list strong {
  color: #3c2f2f;
}

.table {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #3c2f2f;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.table.zarva{
  margin: auto;
  text-align: center;
}

.map-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  border: 0;
}




