<div class="container mt-5 page-content">
  <h2 class="section-title">Rólunk</h2>

  <p class="content-text">
    Üdvözlünk a vadásztársaságunk hivatalos oldalán! Engedjék meg, hogy röviden bemutassam az általunk gazdálkodott területet és annak adottságait. Területünk Mikóháza és Kovácsvágás települések között terül el. Legfőképpen erdők alkotják a területet, viszont megtalálható rajta rét, illetve több hektárnyi vadföld is. A terület főként nagyvadas, viszont megtalálható rajta apróvad is egyaránt. Társaságunk rendkívül híres gímszarvas, illetve muflon állományáról, amely miatt éves szinten sokan ellátogatnak hozzánk, akár külföldi vadászok is, hogy itt ejtsék el életük trófeás vadját.
    Társaságunk munkatársai rendkívül igényesek az általuk elvégzendő munkára, így minden hozzánk látogatót biztosítunk arról, hogy a lehető legjobb vadász élményben lesz része.
  </p>

  <h3 class="mt-4 section-title">Nyitvatartás</h3>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Nap</th>
        <th>Nyitvatartás</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hétfő</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Kedd</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Szerda</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Csütörtök</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Péntek</td>
        <td>7:00 - 16:00</td>
      </tr>
      
      <tr>
        <td>Szombat</td>
        <td class="table zarva">Zárva</td>
      </tr>
      <tr>
        <td>Vasárnap</td>
        <td>Zárva</td>
      </tr>
    </tbody>
  </table>

  <h3 class="mt-4 section-title">Árak(Az árak euróban értendőek)</h3>
  
  <h4>Gímszarvasbika-vadászat</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Agancssúly (kg)</th>
        <th>Ár (€)</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>≤1,99</td><td>250</td></tr>
      <tr><td>2,00-2,99</td><td>500</td></tr>
      <tr><td>3,00-3,99</td><td>700</td></tr>
      <tr><td>4,00-4,99</td><td>900</td></tr>
      <tr><td>5,00-5,49</td><td>1100</td></tr>
      <tr><td>5,50-5,99</td><td>1500</td></tr>
      <tr><td>6,00-6,49</td><td>1900</td></tr>
      <tr><td>6,50-6,99</td><td>2300</td></tr>
      <tr><td>7,00-7,49</td><td>2800</td></tr>
      <tr><td>7,50-7,99</td><td>3400</td></tr>
    </tbody>
  </table>
    <p>A trófea súlyának becslésekor +/-15% eltérés megengedett.
      A megsebzett vad hivatásos vadászkísérő által becsült trófeasúlyának 50%-át kitevő összeget kell fizetni.
      24 órával a kifőzés után, nagykoponyával, hivatalos trófeabírálaton történik.
    </p>
  <h4>Őzbak-vadászat</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Agancssúly (g)</th>
        <th>Ár (€)</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>≤200</td><td>190</td></tr>
      <tr><td>201-300</td><td>410</td></tr>
      <tr><td>301-349</td><td>660</td></tr>
      <tr><td>350-399</td><td>1200</td></tr>
      <tr><td>400-449</td><td>1200</td></tr>
    </tbody>
  </table>
  <p>A trófea súlyának becslésekor +/-15% eltérés megengedett.
    A megsebzett vad hivatásos vadászkísérő által becsült trófeasúlyának 50%-át kitevő összeg.
  </p>
  <h4>Vaddisznóvadászat</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vadkantrófea (cm)</th>
        <th>Ár (€)</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>12,00-15,99</td><td>760</td></tr>
      <tr><td>16,00-17,99</td><td>1200</td></tr>
      <tr><td>18,00-19,99</td><td>1500</td></tr>
      <tr><td>20,00 felett</td><td>2000</td></tr>
    </tbody>
  </table>
  <p>A hosszméret alapjául a két nagyagyar hosszának átlaga számít. A mérés hivatalos trófeabírálaton történik. A koca trófeája a kampó.</p><br>

  
  <h4>Apróvad</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fácán</th>
        <th>Ár (€)</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Elejtés</td><td>29 €/db</td></tr>
      <tr><td>Hajtás (10-15 fő)</td><td>440 €/csoport</td></tr>
      <tr><td>Hajtás (15-25 fő)</td><td>550 €/csoport</td></tr>
    </tbody>
   <p> A lőtt fácánaz elejtőt illeti meg, elviteli díjat külön nem számítunk fel.
    Az ár nyúzási, tollazási díjat nem tartalmaz.</p>
  </table>


  <h3 class="mt-4 section-title">Elérhetőségeink</h3>
  <ul class="contact-list">
    <li><strong>Cím:</strong> Mikóháza, Fedor-malom u., 3989</li>
    <li><strong>Telefon:</strong> +36 30 248 8658</li>
    <li><strong>Email:</strong> buzakalasz@enternet.hu</li>
  </ul>

  <h3 class="mt-4 section-title">Térkép</h3>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.1418002391592!2d21.607451675879194!3d48.453808771280116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4738d3e265d6a5dd%3A0x4917e2aebeeb6dca!2sFedor%20tanya!5e0!3m2!1sen!2shu!4v1738748978559!5m2!1sen!2shu" width="1800" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  