<div class="container mt-5 page-content">
  <h2 class="section-title">Rólunk</h2>

  <p class="content-text">
    Üdvözlünk a vadásztársaságunk hivatalos oldalán! Engedjék meg, hogy röviden bemutassam az általunk gazdálkodott területet és annak adottságait. Területünk Mikóháza és Kovácsvágás települések között terül el. Legfőképpen erdők alkotják a területet, viszont megtalálható rajta rét, illetve több hektárnyi vadföld is. A terület főként nagyvadas, viszont megtalálható rajta apróvad is egyaránt. Társaságunk rendkívül híres gímszarvas, illetve muflon állományáról, amely miatt éves szinten sokan ellátogatnak hozzánk, akár külföldi vadászok is, hogy itt ejtsék el életük trófeás vadját.
    Társaságunk munkatársai rendkívül igényesek az általuk elvégzendő munkára, így minden hozzánk látogatót biztosítunk arról, hogy a lehető legjobb vadász élményben lesz része.
  </p>

  <h3 class="mt-4 section-title">Nyitvatartás</h3>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>Nap</th>
        <th>Nyitvatartás</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hétfő</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Kedd</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Szerda</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Csütörtök</td>
        <td>7:00 - 16:00</td>
      </tr>
      <tr>
        <td>Péntek</td>
        <td>7:00 - 16:00</td>
      </tr>
      
      <tr>
        <td>Szombat</td>
        <td class="table zarva">Zárva</td>
      </tr>
      <tr>
        <td>Vasárnap</td>
        <td>Zárva</td>
      </tr>
    </tbody>
  </table>

  <h3 class="mt-4 section-title">Elérhetőségeink</h3>
  <ul class="contact-list">
    <li><strong>Cím:</strong> Mikóháza, Fedor-malom u., 3989</li>
    <li><strong>Telefon:</strong> +36 30 248 8658</li>
    <li><strong>Email:</strong> buzakalasz@enternet.hu</li>
  </ul>

  <h3 class="mt-4 section-title">Térkép</h3>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.1418002391592!2d21.607451675879194!3d48.453808771280116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4738d3e265d6a5dd%3A0x4917e2aebeeb6dca!2sFedor%20tanya!5e0!3m2!1sen!2shu!4v1738748978559!5m2!1sen!2shu" width="1800" height="750" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  