.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
  }
  
  .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card .btn {
    background-color: #28a745;
    border: none;
  }
  
  .card .btn:hover {
    background-color: #218838;
  }
  .fixed-img {
    width: 100%;  
    height: 200px;
    object-fit: cover; 
  }

  button {
    background-color: #218838;
    border-radius: 9px;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
  }
  
  button:hover {
    background-color: #1c7430; 
  }
  

  
  