<div class="footer">
  <div class="footer-tartalom">
    <div class="bal-tartalom">
      <div class="logo">
        <a routerLink="/foldal"><img src="../assets/logo.jpg" alt="Vadászati portál" width="60" height="40"></a>
      </div>
      <p>&copy; 2025 Zempléni Nagyvad Vadásztársaság</p>
      <p>Telefonszám: +3630 248 8658</p>
      <a href="https://www.facebook.com/zempleninagyvadasz/" target="_blank">
        <img src="../../assets/face.png" alt="Facebook" class="facebook-icon">
      </a>
    </div>
    <div class="rolunk-gomb">
      <button class="btn btn-outline-success" type="button" [routerLink]="'/rolunk'">Rólunk</button>
    </div>
  </div>

</div>
