

<div id="hatter">
  <div class="home-container">
    <hr>
    <main>
      <h2>Üdvözöljük a Zempléni Nagyvad Vadásztársaság hivatalos weboldalán!</h2>
      <p>Örömmel köszöntjük Önöket a Zempléni Nagyvad Vadásztársaság oldalán, ahol a vadászat iránti szenvedély és a természet iránti tisztelet találkozik. Társaságunk a gyönyörű Zempléni-hegység szívében, Mikóházán működik, amely ideális helyszínt biztosít a nagyvad vadászat szerelmeseinek. A régió lenyűgöző tájain, változatos növény- és állatvilágában egyedülálló élmények várják látogatóinkat.</p>
  
      <h3>Vadászati lehetőségek</h3>
      <p>Kínálatunkban főként nagyvadas vadászatok szerepelnek, beleértve a vaddisznó, őz, szarvas és muflon vadászatokat. Mindegyik vadászatot tapasztalt és szakértő vezetőink irányítják, biztosítva ezzel a biztonságos és felelősségteljes vadászat élményét. Az oldalon keresztül könnyedén foglalhat vadászatot, és bármilyen kérdésekkel kapcsolatban kapcsolatba léphet velünk.</p>
  
      <p>Bízunk benne, hogy hamarosan személyesen is üdvözölhetjük, és együtt élhetjük át a Zempléni-hegység vadregényes hangulatát!</p>
    </main>
  </div>
  
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="d-block w-100" alt="Erdő kép">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
  